$gray-footer: #fcfcfc !default;

.footer {
  background-color: $gray-footer;
}

.custom-logo-container {
  display: flex;
  align-items: center;
  gap: 10px;

  .logo-link {
    display: inline-block; /* Ensures link wraps image correctly */
  }
}

.powered-text {
  font-size: 12px;
  line-height: 18px;
  color: #515661;
  margin-right: 10px;
}
